<a href="https://colab.research.google.com/github/internship-bvoc2020/data-analysis/blob/master/DataAnalysis_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing** **Libraries**

In [0]:
import pandas as pd
import numpy as np

**Reading Cars datafile & performing basic checks on data file**

In [0]:
df_csv = pd.read_csv("cars.csv",sep=";")

In [120]:
df_csv.columns

Index(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model', 'Origin'],
      dtype='object')

In [121]:
df_csv.head()

                         Car   MPG  Cylinders  ...  Acceleration  Model  Origin
0  Chevrolet Chevelle Malibu  18.0          8  ...          12.0     70      US
1          Buick Skylark 320  15.0          8  ...          11.5     70      US
2         Plymouth Satellite  18.0          8  ...          11.0     70      US
3              AMC Rebel SST  16.0          8  ...          12.0     70      US
4                Ford Torino  17.0          8  ...          10.5     70      US

[5 rows x 9 columns]

**Cars data file basic sanity check using Data frame Operations & Features**

In [122]:
print('Number of records in dataframe is given by len(df_csv) function :'+str(len(df_csv)))
print('Dataframe records and columns count shaoe function :'+str(df_csv.shape))
print('Dataframe total objects count using size function :'+str(df_csv.size))
print('Dataframe each index and column individual counts are given by df_csv.count(axis=0or1)\n'+str(df_csv.count(axis=0)))

Number of records in dataframe is given by len(df_csv) function :406
Dataframe records and columns count shaoe function :(406, 9)
Dataframe total objects count using size function :3654
Dataframe each index and column individual counts are given by df_csv.count(axis=0or1)
Car             406
MPG             406
Cylinders       406
Displacement    406
Horsepower      406
Weight          406
Acceleration    406
Model           406
Origin          406
dtype: int64

**Acessing Dataframe objects**

In [0]:
print('\n Tail function gives last few records in a dataframe df_csv.tail()\n :'+str(df_csv.tail()))
print('\nAccessing rows of a particular column of Dataframe using indexer for ex df_csv.ix[3:10,\'Car\']\n'+str(df_csv.loc[3:10,'Car']))

**Transposing a Dataframe i.e. Row becomes columns and columns becomes** **rows**

In [0]:
df_csv.T

In [0]:
df_csv.T.shape

**Adding New column in dataframe**

In [0]:
df_csv['NetHPWt'] = df_csv['Horsepower'] + df_csv['Weight']
df_csv.columns

**Pivoting in Dataframe**

In [0]:
df_csv[['Car','Acceleration','Origin']].head()

In [0]:
df_table=pd.pivot_table(df_csv, values='Acceleration', index=['Car'],columns=['Origin'])
df_table

**Creating Dataframe from json docs**

In [0]:
df_cars1 = pd.DataFrame({'name': ['bmw', 'lexus', 'ferrari', 'mercedez'],
                                'colour': ['red', 'white', 'black', 'blue'],
                                'year': ['2012', '2014', '2011', '2016'],
                               },index=[0, 1, 2,3])
df_cars2 = pd.DataFrame({'name': ['audi', 'hyundai', 'maruti', 'ford'],
                                'colour': ['grey', 'brown', 'yellow', 'white'],
                                'year': ['2011', '2014', '2012', '2015'],
                               },index=[4,5,6,7])
df_car_details = pd.DataFrame({'country': ['germany', 'france', 'US', 'UK'],
                                'units': ['2500', '4700', '3250', '6470'],
                                'variant': ['diesel', 'petrol', 'petrol', 'diesel'],
                               },index=[0, 1,2,3])

In [0]:
df_cars1

In [0]:
df_cars2

In [0]:
df_car_details

**Concat , Merge & Join operations**

In [0]:
#axis 0 = row wise
pd.concat([df_cars1,df_cars2],axis=0)

In [0]:
#axis 1 = column wise
pd.concat([df_cars1,df_cars2],axis=1)

Merge Operation

In [0]:
#Merges on the joining column ID ,creates different column names
pd.merge(df_cars1,df_cars2,how='outer',left_on='year',right_on='year')

Join operation

In [0]:
#Joining Dataframe cars 2 to dataframe cars 1
pd.DataFrame.join(df_cars1,df_cars2,lsuffix='_left',rsuffix='_right')

In [0]:
#Joining Dataframe cars 1 to dataframe cars 2
pd.DataFrame.join(df_cars2,df_cars1,lsuffix='_left',rsuffix='_right')

In [0]:
 # Joining dataframe car details to cars1 ,having same indexes
pd.DataFrame.join(df_cars1,df_car_details)

## **Data Analysis**

**Problem 1** :Given that First word in the all the 'Car' field represents the company manufacturing the car and rest of the words represent the car model , Find out the different companies with their origins and the total number of models produced by them

In [0]:
df_csv[['Company','Model']] = df_csv.Car.str.split(" ",1,expand=True)

In [0]:
df_csv.head(10)

In [0]:
df_csv.groupby(['Company','Origin'])['Model'].count()

**Problem 2**: Find out all the companies of US & Japan that produce cars with Horse power > 100

In [0]:
#To show all records
pd.set_option('display.max_rows', df_csv.shape[0]+1)

In [0]:
df_csv.loc[(df_csv['Origin'].isin(['US','Japan'])) & (df_csv['Horsepower'] > 100)][['Company','Origin','Horsepower']]

**Problem 3** : Which is the most Light weight car in Europe ?

In [0]:
df_csv [(df_csv['Weight'] == df_csv[(df_csv['Origin'] == 'Europe')]['Weight'].min())][['Car','Origin','Weight']]